<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <title th:text="${title}"> password reset</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" th:href="@{|${baseUrl}/favicon.ico|}" />
  </head>
  <body>
    <p th:text="|cher(e) ${agent.matricule}|">Dear</p>
    <p>
      Veuillez cliquer sur le lien ci-dessous pour renitialiser votre mot de passe:
    </p>
    <p>
      <a th:with="url=(@{|${baseUrl}/account/reset/finish?key=${agent.resetKey}|})" th:href="${url}" th:text="${url}">Login link</a>
    </p>
    <p>
      <span >Coordialement, </span>
      <br />
      <em >l'Equipe de Notation.</em>
    </p>
  </body>
</html>
